[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.suo
*.svd
*.userprefs
*.vcxproj
*.vcxproj.filters
*.idea/
.vscode/
rapport/rapport.aux
rapport/rappor.log
rapport/rappor.toc
